<h1 mat-dialog-title>Create stock transaction</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-field-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Ticker</mat-label>
        <input matInput formControlName="ticker" [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let stock of stocks | async"
            [value]="stock.ticker"
          >
            {{ stock.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('ticker')?.invalid">{{
          getErrorMessage(form.get("ticker"))
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Portfolio</mat-label>
        <mat-select formControlName="portfolio">
          <mat-option
            *ngFor="let portfolio of portfolios | async"
            [value]="portfolio.id"
            >{{ portfolio.name }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.get('portfolio')?.invalid">{{
          getErrorMessage(form.get("portfolio"))
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          formControlName="amount"
          autocomplete="off"
        />
        <mat-error *ngIf="form.get('amount')?.invalid">{{
          getErrorMessage(form.get("amount"))
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="price"
          formControlName="price"
          autocomplete="off"
        />
        <mat-error *ngIf="form.get('price')?.invalid">{{
          getErrorMessage(form.get("price"))
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('date')?.invalid">{{
          getErrorMessage(form.get("date"))
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
        <mat-error *ngIf="form.get('comment')?.invalid">{{
          getErrorMessage(form.get("comment"))
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button [mat-dialog-close]="">Cancel</button>
  <button mat-button (click)="save()" color="primary" cdkFocusInitial>
    Save
  </button>
</div>
