.form-field {
    display: block;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.strategies-container {
    display: flex;
    flex-wrap: wrap;

    .strategy {
        cursor: pointer;
    }
}

.spinner {
    margin: auto;
}