<mat-table [dataSource]="dataSource" matSort class="table">
  <ng-container matColumnDef="ticker">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.ticker }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="size_at_cost">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Size @ cost</mat-header-cell
    >
    <mat-cell *matCellDef="let row">
      {{ row.size_at_cost | currency }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="size">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.size | currency }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <mat-row class="mat-row" *matNoDataRow>
    <mat-cell colspan="8">No data matching the filter.</mat-cell>
  </mat-row>
</mat-table>
