@import "../../../../variables";

.content-container {
  display: flex;
  
  .chart-container,
  .kpi-container {
    display: flex;
    margin: 0 calc(2 * $margin-size);
    height: calc(100vh - 160px);
  }

  .chart-container {
    .strategy-controls {
      display: flex;
      flex-direction: column;
  
      .strategy-control {
        margin-bottom: calc($margin-size / 4);
      }
    }
  }
  
  .kpi-container {
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
  
    .kpi {
      width: 250px;
      margin: 0 $margin-size $margin-size 0;
    }
  }

  .no-data {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: calc(50vh - 160px);

    .cta-button {
      margin-top: calc($margin-size / 2);
    }
  }
}
