@import "../../../../variables";

.content-container {
  display: flex;
  
  .chart-container {
    display: flex;
    margin: 0 $margin-size;
    height: calc(100vh - 160px);

  
    .strategy-controls {
      display: flex;
      flex-direction: column;
  
      .strategy-control {
        margin-bottom: calc($margin-size / 4);
      }
    }

    .no-data {
      width: 95%;
      margin: auto;
      display: block;
      text-align: center;
    }
  }
  
  .kpi-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $margin-size;
    justify-content: center;
    align-content: flex-start;
  
    .kpi {
      width: 250px;
      margin: 0 $margin-size $margin-size 0;
    }
  }
}
