<sb-content-header title="Dashboard"></sb-content-header>

<mat-progress-bar
  *ngIf="(isLoading | async)"
  mode="indeterminate"
></mat-progress-bar>

<div class="content-container">
  <div class="chart-container">
    <sb-error-message *ngIf="strategyError | async" class="error-message">
      An error occurred while fetching user strategy.
    </sb-error-message>

    <span
      *ngIf="!(isLoading | async) && !(strategyError | async) && !currentStrategy"
      class="mat-subheading-2 no-data"
      >Please select a target strategy.</span
    >

    <div
      *ngIf="!(strategyError | async) && targetStrategy"
      class="strategy-controls"
    >
      <button
        mat-fab
        (click)="createStrategy($event)"
        color="primary"
        class="strategy-control"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-fab
        (click)="selectStrategy($event)"
        color="primary"
        class="strategy-control"
      >
        <mat-icon>list</mat-icon>
      </button>
    </div>
    <div>
      <sb-pie-chart
        *ngIf="!(strategyError | async) && currentStrategy"
        title="Current strategy"
        [data]="currentStrategy"
        [width]="300"
        [height]="300"
      ></sb-pie-chart>
      <sb-pie-chart
        *ngIf="!(strategyError | async) && targetStrategy"
        title="Target strategy"
        [data]="targetStrategy"
        [width]="300"
        [height]="300"
        [live]="true"
      ></sb-pie-chart>
    </div>
  </div>

  <div class="kpi-container">
    <sb-error-message *ngIf="indicatorsError | async" class="error-message">
      An error occurred while fetching portfolio indicators.
    </sb-error-message>

    <sb-kpi
      *ngIf="!(indicatorsError | async) && (indicators | async)"
      name="Total AUM"
      [value]="(indicators | async)!.total_aum"
      type="currency"
      class="kpi"
    ></sb-kpi>
    <sb-kpi
      *ngIf="!(indicatorsError | async) && (indicators | async)"
      name="PnL"
      [value]="(indicators | async)!.total_floating_pnl"
      type="currency"
      class="kpi"
    ></sb-kpi>
    <sb-kpi
      *ngIf="!(indicatorsError | async) && (indicators | async)"
      name="Dividend income"
      [value]="(indicators | async)!.annual_dividend_income"
      type="currency"
      class="kpi"
    ></sb-kpi>
    <sb-kpi
      *ngIf="!(indicatorsError | async) && (indicators | async)"
      name="ROIC"
      [value]="(indicators | async)!.roic_since_inception"
      type="percentage"
      class="kpi"
    ></sb-kpi>
    <sb-kpi
      *ngIf="!(indicatorsError | async) && (indicators | async)"
      name="Annualized ROIC"
      [value]="(indicators | async)!.annualized_roic"
      type="percentage"
      class="kpi"
    ></sb-kpi>
  </div>
</div>
