<div class="mat-title">Stock Buddy</div>
<form [formGroup]="form" class="form">
  <mat-form-field appearance="outline" class="form-field">
    <input
      matInput
      formControlName="username"
      placeholder="Username"
      type="text"
    />
    <mat-error *ngIf="form.get('username')?.invalid"
      >{{getErrorMessage(form.get('username'))}}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <input
      matInput
      formControlName="password"
      placeholder="Password"
      type="password"
    />
    <mat-error *ngIf="form.get('password')?.invalid"
      >{{getErrorMessage(form.get('password'))}}</mat-error
    >
  </mat-form-field>
  <mat-error *ngIf="formError">{{ formError }}</mat-error>

  <button
    (click)="login()"
    [disabled]="isLoading"
    mat-raised-button
    color="primary"
    class="action-button"
  >
    <span *ngIf="!isLoading">Login</span>
    <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
  </button>
</form>
