:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.form-field,
.action-buttons {
  width: 100%;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 30%;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 14px 0 0 14px !important;
  min-width: 14px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 14px 14px 0 !important;
}
