@import '../../../../variables';

.content {
  display: flex;
  justify-content: space-between;

  .form {
    width: 75%;
  
    .form-field {
      display: block;
    }
    
    .strategy-item {
      width: 100%;
      display: flex;
      align-items: center;

      .form-field {
        margin-right: $margin-size;
      }

      .size {
        width: 140px;
      }

      .delete-button {
        margin-bottom: 16px;
      }
    }

    .add-button {
      margin-bottom: 10px;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
