@import "../../../../variables";

.sidenav-container {
  height: calc(100% - $toolbar-height);

  .nav-item {
    display: flex;
    align-items: center;

    ::ng-deep .mat-list-item-content {
      width: 100%;
    }

    .icon {
      margin: 0 calc($margin-size / 4);
    }
  }
}
