@import '../../../../variables';

.content {
  display: flex;

  .password-change-form {
    width: 25%;
    margin: $margin-size;
    display: flex;
    flex-flow: column;
  
    .control-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .version-info {
    margin: $margin-size;

    .version-section {
      margin: calc($margin-size / 2) 0;
    }
  }
}
