<sb-content-header title="Profile"></sb-content-header>

<form [formGroup]="form" class="password-change-form">
  <div class="mat-subheading-2">Change password</div>

  <mat-form-field appearance="outline" class="form-field">
    <input
      matInput
      formControlName="password"
      placeholder="Password"
      type="password"
    />
    <mat-error *ngIf="form.get('password')?.invalid"
      >{{getErrorMessage(form.get('password'))}}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <input
      matInput
      formControlName="passwordConfirmation"
      placeholder="Confirm password"
      type="password"
    />
    <mat-error *ngIf="form.get('passwordConfirmation')?.invalid"
      >{{getErrorMessage(form.get('passwordConfirmation'))}}</mat-error
    >
  </mat-form-field>

  <div class="control-row">
    <mat-error *ngIf="formError">{{ formError }}</mat-error>
    <mat-error *ngIf="!formError && form.invalid"
      >{{ getErrorMessage(form) }}</mat-error
    >
    <div *ngIf="!formError && !form.invalid && message">{{ message }}</div>

    <div class="divider"></div>

    <button
      mat-flat-button
      (click)="changePassword()"
      color="primary"
      class="submit-button"
    >
      Change
    </button>
  </div>
</form>
