<div class="header">
  <sb-content-header title="Watchlist"></sb-content-header>
  <span class="divider"></span>
  <div
    *ngIf="!(isLoading | async) && (query.hasWatchlists | async)"
    class="control-form"
  >
    <mat-form-field appearance="outline" class="control-field">
      <mat-label>Watchlist</mat-label>
      <mat-select [formControl]="selectedWatchlist" #select>
        <mat-select-trigger> {{ select.value.name }} </mat-select-trigger>

        <mat-option
          *ngFor="let watchlist of (query.watchlists | async)"
          [value]="watchlist"
          class="option"
        >
          {{ watchlist.name }}
          <div>
            <button
              (click)="editWatchlist($event, watchlist.id!)"
              mat-icon-button
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button color="warn" [disabled]="true" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      (click)="createWatchlist()"
      mat-fab
      color="primary"
      class="add-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-progress-bar
  *ngIf="(isLoading | async)"
  mode="indeterminate"
></mat-progress-bar>

<span
  *ngIf="!(isLoading | async) && !(query.hasWatchlists | async)"
  class="mat-subheading-2 no-data"
>
  You have no watchlists.
  <button
    mat-flat-button
    (click)="createWatchlist()"
    color="primary"
    class="cta-button"
  >
    Add the first watchlist
  </button>
</span>

<span
  *ngIf="!(isLoading | async) && (query.hasWatchlists | async) && !(query.hasWatchlistItems | async)"
  class="mat-subheading-2 no-data"
>
  You have no watchlists.
  <button
    mat-flat-button
    (click)="createItem.next(null)"
    color="primary"
    class="cta-button"
  >
    Add the first watchlist
  </button>
</span>

<div class="content">
  <sb-watchlist-items-table
    *ngIf="(query.hasWatchlists | async) && (query.hasWatchlistItems | async)"
    [watchlistItemsStream]="query.watchlistItems"
    [createItem]="createItem"
    [editItem]="editItem"
    [deleteItem]="deleteItem"
    [targets]="watchlistTargets"
  ></sb-watchlist-items-table>
</div>
