<sb-content-header>Portfolio summary</sb-content-header>

<mat-tab-group
  *ngIf="!isLoading"
  mat-align-tabs="start"
  animationDuration="0ms"
  class="tab-group"
>
  <mat-tab label="Base data">
    <sb-basic-stock-data-table
      [positions]="basicData"
    ></sb-basic-stock-data-table>
  </mat-tab>

  <mat-tab label="Dividend">
    <div class="tab dividend">
      <sb-stock-dividend-table
        [dividendData]="basicData"
        class="table"
      ></sb-stock-dividend-table>
      <sb-bar-chart [data]="dividendYield" class="yield"></sb-bar-chart>
      <sb-bar-chart [data]="yieldOnCost" class="dividend"></sb-bar-chart>
      <sb-pie-chart [data]="dividendIncome" class="income"></sb-pie-chart>
    </div>
  </mat-tab>

  <mat-tab label="Risk">
    <div class="tab risk">
      <sb-stock-risk-table
        [riskData]="basicData"
        class="table"
      ></sb-stock-risk-table>
      <sb-pie-chart
        title="Sector distribution"
        [data]="sectorDistribution"
        class="sector"
      ></sb-pie-chart>
      <sb-treemap-chart
        title="Size distribution"
        [data]="sizeDistribution"
        class="size"
      ></sb-treemap-chart>
      <sb-treemap-chart
        title="Size distibution @ cost"
        [data]="sizeDistributionAtCost"
        class="size-at-cost"
      ></sb-treemap-chart>
    </div>
  </mat-tab>

  <mat-tab label="PnL">
    <div class="tab pnl">
      <sb-stock-pnl-table
        [pnlData]="basicData"
        class="table"
      ></sb-stock-pnl-table>
      <sb-bar-chart [data]="pnl" class="return"></sb-bar-chart>
      <!-- TODO: Add the real value here! -->
      <sb-bar-chart [data]="pnl" class="annualized"></sb-bar-chart>
    </div>
  </mat-tab>
</mat-tab-group>
