<div class="header">
  <sb-content-header title="Portfolio summary"> </sb-content-header>
  <span class="divider"></span>
  <form
    *ngIf="!(isLoading | async) && !(error | async)"
    [formGroup]="controls"
    class="control-form"
  >
    <mat-form-field appearance="outline" class="control-field">
      <mat-label>Portfolio</mat-label>
      <mat-select formControlName="portfolio">
        <mat-option value="summary">Summary</mat-option>
        <mat-option
          *ngFor="let portfolio of (query.portfolios | async)"
          [value]="portfolio.id"
          >{{ portfolio.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="control-field">
      <mat-label>As of</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="asOf" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>

<sb-error-message *ngIf="error | async" class="error-message"
  >An error occurred while fetching the portfolio data.</sb-error-message
>

<mat-progress-bar
  *ngIf="!(error | async) && (isLoading | async)"
  mode="indeterminate"
></mat-progress-bar>

<span
  *ngIf="!(isLoading | async) && !(error | async) && !(query.summary | async)"
  class="mat-subheading-2 no-data"
  >No portfolio data was found for this user.</span
>

<mat-tab-group
  *ngIf="!(isLoading | async) && !(error | async) && (query.summary | async)"
  mat-align-tabs="start"
  animationDuration="0ms"
  class="tab-group"
>
  <mat-tab label="Base data">
    <sb-basic-stock-data-table
      [positions]="basicData"
    ></sb-basic-stock-data-table>
  </mat-tab>

  <mat-tab label="Dividend">
    <div class="tab dividend">
      <sb-stock-dividend-table
        [dividendData]="basicData"
        class="table"
      ></sb-stock-dividend-table>
      <sb-bar-chart
        title="Dividend yield"
        [data]="dividendYield"
        [filterZeroes]="true"
        class="yield"
      ></sb-bar-chart>
      <sb-bar-chart
        title="Dividend yield on cost"
        [data]="yieldOnCost"
        [filterZeroes]="true"
        class="dividend"
      ></sb-bar-chart>
      <sb-pie-chart
        title="Dividend income distribution"
        [data]="dividendIncome"
        class="income"
      ></sb-pie-chart>
    </div>
  </mat-tab>

  <mat-tab label="Risk">
    <div class="tab risk">
      <sb-stock-risk-table
        [riskData]="basicData"
        class="table"
      ></sb-stock-risk-table>
      <sb-pie-chart
        title="Sector distribution"
        [data]="sectorDistribution"
        class="sector"
      ></sb-pie-chart>
      <sb-treemap-chart
        title="Size distribution"
        [data]="sizeDistribution"
        class="size"
      ></sb-treemap-chart>
      <sb-treemap-chart
        title="Size distibution @ cost"
        [data]="sizeDistributionAtCost"
        class="size-at-cost"
      ></sb-treemap-chart>
    </div>
  </mat-tab>

  <mat-tab label="PnL">
    <div class="tab pnl">
      <sb-stock-pnl-table
        [pnlData]="basicData"
        class="table"
      ></sb-stock-pnl-table>
      <sb-bar-chart
        title="Total return"
        [data]="pnl"
        class="return"
      ></sb-bar-chart>
      <!-- TODO: Add the real value here! -->
      <sb-bar-chart
        title="Annualized return"
        [data]="pnl"
        class="annualized"
      ></sb-bar-chart>
    </div>
  </mat-tab>
</mat-tab-group>
