<div class="header">
  <sb-content-header title="Portfolio summary"> </sb-content-header>
  <span class="divider"></span>
  <form
    *ngIf="!(isLoading | async)"
    [formGroup]="controls"
    class="control-form"
  >
    <mat-form-field appearance="outline" class="control-field">
      <mat-label>As of</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="asOf" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="control-field">
      <mat-label>Portfolio</mat-label>
      <mat-select formControlName="portfolio" #select>
        <mat-select-trigger> {{ select.value.name }} </mat-select-trigger>

        <mat-option [value]="SUMMARY_VALUE">Summary</mat-option>
        <mat-option
          *ngFor="let portfolio of (query.portfolios | async)"
          [value]="portfolio"
          class="option"
        >
          {{ portfolio.name }}
          <div>
            <button
              (click)="editPortfolio($event, portfolio.id!)"
              mat-icon-button
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button color="warn" [disabled]="true" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      (click)="createPortfolio()"
      mat-fab
      color="primary"
      class="add-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </form>
</div>

<mat-progress-bar
  *ngIf="(isLoading | async)"
  mode="indeterminate"
></mat-progress-bar>

<span
  *ngIf="!(isLoading | async) && !(query.summary | async)"
  class="mat-subheading-2 no-data"
>
  This portfolio has no positions.
  <button
    mat-flat-button
    (click)="createTransaction.next(null)"
    color="primary"
    class="cta-button"
  >
    Add the first transaction
  </button>
</span>

<mat-tab-group
  *ngIf="!(isLoading | async) && (query.summary | async)"
  mat-align-tabs="start"
  animationDuration="0ms"
  class="tab-group"
>
  <mat-tab label="Base data">
    <sb-basic-stock-data-table
      [positions]="basicData"
      [createTransaction]="createTransaction"
    ></sb-basic-stock-data-table>
  </mat-tab>

  <mat-tab label="Dividend">
    <div class="tab">
      <sb-stock-dividend-table
        [dividendData]="basicData"
        class="table"
      ></sb-stock-dividend-table>
      <div class="charts">
        <sb-pie-chart
          title="Dividend income distribution"
          [data]="dividendIncome"
          class="chart"
        ></sb-pie-chart>
        <sb-toggleable mainLabel="yield" altLabel="yield on cost" class="chart">
          <sb-bar-chart
            title="Dividend yield"
            [data]="dividendYield"
            [filterZeroes]="true"
            mainContent
          ></sb-bar-chart>
          <sb-bar-chart
            title="Dividend yield on cost"
            [data]="yieldOnCost"
            [filterZeroes]="true"
            altContent
          ></sb-bar-chart>
        </sb-toggleable>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Risk">
    <div class="tab">
      <sb-stock-risk-table
        [riskData]="basicData"
        class="table"
      ></sb-stock-risk-table>
      <div class="charts">
        <sb-pie-chart
          title="Sector distribution"
          [data]="sectorDistribution"
          class="chart"
        ></sb-pie-chart>
        <sb-toggleable mainLabel="size" altLabel="size at cost" class="chart">
          <sb-treemap-chart
            title="Size distribution"
            [data]="sizeDistribution"
            mainContent
          ></sb-treemap-chart>
          <sb-treemap-chart
            title="Size distibution @ cost"
            [data]="sizeDistributionAtCost"
            altContent
          ></sb-treemap-chart>
        </sb-toggleable>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="PnL">
    <div class="tab pnl">
      <sb-stock-pnl-table
        [pnlData]="basicData"
        class="table"
      ></sb-stock-pnl-table>
      <div class="charts">
        <sb-toggleable
          mainLabel="return"
          altLabel="annualized return"
          class="chart"
        >
          <sb-bar-chart
            title="Total return"
            [data]="pnl"
            class="return"
            mainContent
          ></sb-bar-chart>
          <sb-bar-chart
            title="Annualized return"
            [data]="annualizedPnl"
            class="annualized"
            altContent
          ></sb-bar-chart>
        </sb-toggleable>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
