@import "../../../../variables";

.header {
  display: flex;

  .control-form {
    margin: $margin-size $margin-size 0 0;
    max-height: 60px;
    display: flex;
    align-items: center;

    .control-field {
      margin-left: calc($margin-size / 2);
    }

    .add-button {
      margin: 0 0 16px calc($margin-size / 2);
    }
  }
}

.tab-group {
  margin: 0 $margin-size $margin-size $margin-size;

  .tab {
    display: flex;

    .table {
      width: 50%;
    }

    .charts {
      margin: 0 auto;

      .chart {
        display: block;
        margin-bottom: $margin-size;
      }
    }
  }
}

.error-message,
.no-data {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 $margin-size;

  .cta-button {
    margin-top: $margin-size;
  }
}

::ng-deep span.mat-option-text {
  display: flex;
  justify-content: space-between;
}
