<mat-table [dataSource]="dataSource" matSort class="table">
  <ng-container matColumnDef="ticker">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.ticker }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dividend">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="wide-cell"
      >DPS</mat-header-cell
    >
    <mat-cell *matCellDef="let row" class="wide-cell">
      {{ row.dividend | currency }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dividend_yield">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="wide-cell"
      >Yield</mat-header-cell
    >
    <mat-cell *matCellDef="let row" class="wide-cell">
      {{ row.dividend_yield | percent: "1.2-2" }}
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <mat-row class="mat-row" *matNoDataRow>
    <mat-cell colspan="3">No data matching the filter.</mat-cell>
  </mat-row>
</mat-table>
