/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-raised-button {
  height: 48px;
  border-radius: 48px !important;
  font-size: 1.1em;
}

.mat-fab.mat-button-base {
  height: 48px;
  width: 48px;

  .mat-button-wrapper {
    padding: 0;
  }
}

.divider {
  flex-grow: 1;
}

// TODO: Add me back!
// .mat-select-panel,
// .mat-datepicker-content,
// .mat-dialog-container {
//   background: #fff;
// }
